.img1 {
	opacity: 0.6;
	z-index: -1;
}
.box img {
	width: 100%;
	transition: transform .3s;
	box-shadow: 2px 5px 5px rgb(0,0,0.15,0.15);
}
.box:hover img{
	transform: scale(1.2, 1.2);
}
.text{
	padding: 20px;
	font-family: Helvetica;
	font-size: 150%;
}
.img2{
	margin: 50px 0;
	/*margin-left: 100px;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.box{
	width:23%;
	padding:0 15px;
	text-align:center;
	box-sizing:border-box;
}
.boximg {
	overflow: hidden;
	width: 100%;
}
nav.menu ul{
    display: flex;
	margin-left: 700px;
}
nav.menu ul li {
    padding: 10px 20px;
    list-style: none;
}
.menu {
	position:absolute;
	width: 100%;
	top: 5%;
}
.co-dinh-menu{
	background: white;
	position: fixed;
	top: -70px;
	left: 0px;
	z-index: 1000;
	box-shadow: 2px 5px 5px rgb(0,0,0,0.35);

	animation-name: nameAnimation;
	animation-duration: .5s;
	animation-fill-mode: forwards;
}

@-webkit-keyframes nameAnimation {
  from {top: -70px;}
  to {top: 0px;}
}

.back-to-top.hien-ra{
	visibility: visible;
	opacity: 1;
}
.back-to-top{
	/*display: none; */
	width: 50px;
	height: 50px;
	text-align: center;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	background: red;
	color: white;
	visibility: hidden;
	cursor: pointer;
	transition: all .3s;
}
footer {
	height: 500px;
	background:#6F6E6D;	
	position: relative;
	z-index: 1;
	display: flex;
}
.footbox {
	display: flex;
	flex: 25% 25% 25% 25%;
	width: 100%;
	color: white;
	padding-top: 100px;
}
.team {
	width: 25%;
}
.teamul{
	width: 100%;
	list-style: none;
	line-height: 35px;
}
h3{
	font-size: 25px !important;
	font-family: Helvetica;
	text-decoration: underline orange;
}
.end {
	position: absolute;
	color: white;
	width: 100%;
	height: 20px;
	background: black;
	margin-top: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.end1 {
	width: 100%;
    padding-right: 15px;
    padding-left: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-left: 50px;
}
.left{
	float: left;
}
.right{
	float: right;
	padding-right: 200px;
}